@charset "utf-8";

div img {
    width: 100%;
    height: auto;
}

.img1 { 
    display: flex;
    grid-area: image1; 
}

.img2 { 
    display: flex;
    grid-area: image2; 
}

.text1 { 
    grid-area: text1; 
    padding: 5px;
}

.text2 { 
    grid-area: text2; 
    padding: 5px;
}

div > img {
    margin: auto auto;
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 90%
}

h2 {
    text-align: center;
}

/* -----------------
Display for mobile
-------------------- */

@media screen and (max-width: 480px) {
    div.grid-container {
        display: grid;
        grid-template-areas: 
        "image1 text1"
        "text2 image2";
        border: #0B132B dashed 2px;
        border-radius: 20px;
    }
    
    .img1, .img2 {
        flex: 1 10 150px;
    }
    
    article {
        margin: 2px;
        padding: 2px;
    }

    article h2, article p {
        font-size: 0.8em;
    }
}

/* -----------------
Display for tablet
-------------------- */

@media screen and (min-width: 481px) {
    div.grid-container {
        display: grid;
        grid-template-areas: 
            "image1 text1"
            "text2 image2";
        border: #0B132B dashed 3px;
        border-radius: 25px;
    }

    .img1, .img2 {
        flex: 2 7 250px;
    }

    article {
        margin: 5px;
        padding: 5px;
    }

    article h2, article p {
        font-size: 0.9em;
    }    
}

/* -----------------
Display for desktop
-------------------- */

@media screen and (min-width: 769px) {
    div.grid-container {
        border-width: 4px;
    }

    .img1, .img2 {
        flex: 1 1 350px;
    }

    article h2, article p {
        font-size: 1.5em;
    }
}
