@charset "utf-8";

header {
    text-align: center;
}

div.table {
    display: flex;
}

table {
    justify-self: center;
    flex: 1 1 0px;
}

table caption {
    margin-bottom: 5px;
}

table, th, td {
    border: 1px solid navy;
    border-collapse: collapse;
    padding: 5px;
}

td.description {
    width: 275px;
    height: auto;
}

tfoot {
    vertical-align: bottom;
}

th {
    text-align: left;
}

th.subsection {
    text-align: center;
}

.description {
    display: none;  
}

/* -----------------
Display for mobile
-------------------- */

@media screen and (max-width: 480px) {
    table {
        margin: 10px 30px;
    }
}

/* -----------------
Display for tablet
-------------------- */

@media screen and (min-width: 481px) {
    table {
        margin: 10px 85px;
    }
}

/* -----------------
Display for desktop
-------------------- */

@media screen and (min-width: 769px) {
    .description {
        display: table-cell;
    }

    table {
        margin: 10px 100px;
    }
}
 