@charset "utf-8";

header, h2, h4 {
    text-align: center;
}

iframe {
    margin: auto auto;
    width: 95%;
}

/* -----------------
Display for mobile
-------------------- */
@media screen and (max-width: 480px) {
    header, section, article, aside {
        margin: 10px 15px;
        padding: 0px 10px;
    }

    #firstheading {
        margin: 10px 30px;
    }

    iframe {
        display: flex;
        flex: 2 2 100%;
    }
}

/* -----------------
Display for tablet
-------------------- */
@media screen and (min-width: 481px) {
    header,
    section,
    article, aside {
        margin: 10px 30px;
        padding: 0px 10px;
    }
    
    #firstheading {
        margin: 10px 60px;
    }
    
    .grid {
        display: grid;
        grid-template-areas: "left right";
    }

    iframe {
        display: flex;
        flex: 3 2 100%;
    }

    .left {
        grid-area: left;
        margin-right: 0px;
        padding-right: 10%;
        border-right: 3px solid black;
    }

    .right {
        grid-area: right;
        margin-left: 0px;
        padding-left: 10%;
    }

/* 
    article section {
        column-count: 2;
        column-gap: 5%;
        column-rule: solid 2px #1C2541; 
    };

    section p {
        break-inside: avoid;
        break-after: always;
    } */
    
}

/* -----------------
Display for desktop
-------------------- */
@media screen and (min-width: 769px) {
    header, section, article, aside {
        margin: 10px 50px;
        padding: 0px 10px;
    }

    #firstheading {
        margin: 10px 100px;
    }
}
