@charset "utf-8";

header, h2 {
    text-align: center;
}

/* -----------------
Display for mobile
-------------------- */
@media screen and (max-width: 480px) {

}

/* -----------------
Display for tablet
-------------------- */
@media screen and (min-width: 481px) {
    header,
    section,
    article, aside {
        margin: 10px 30px;
        padding: 0px 10px;
    }

    article section {
        column-count: 3
    };

    article h4 {
        break-before: always;
    }
}

/* -----------------
Display for desktop
-------------------- */
@media screen and (min-width: 769px) {
    
}
