@charset "utf-8";

header, h2, h4 {
    text-align: center;
}

iframe {
    margin: auto auto;
    width: 95%;
}

p {
    display: block;
}

/* -----------------
Display for mobile
-------------------- */
@media screen and (max-width: 480px) {
    iframe {
        display: flex;
        flex: 2 2 100%;
    }
}

/* -----------------
Display for tablet
-------------------- */
@media screen and (min-width: 481px) {
    header,
    section,
    article, aside {
        margin: 10px 30px;
        padding: 0px 10px;
    }

    iframe {
        display: flex;
        flex: 3 2 100%;
    }

    article section {
        column-count: 2;
        column-gap: 5%;
        column-rule: solid 2px #1C2541; 
    };

    article p {
        break-inside: avoid;
        break-after: always;
    }
}

/* -----------------
Display for desktop
-------------------- */
@media screen and (min-width: 769px) {
    header, section, article, aside {
        margin: 10px 50px;
        padding: 0px 10px;
    }
}
