@charset "utf-8";

/* CSS for equipment.html */

header {
    text-align: center;
}

img {
    max-width: 100%;
}

/* Give the html form a 2 column layout */
form {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    padding: 2% 2%;
}

/* Make the form submit button span the whole form bottom */
input[type=submit] {
    grid-column: 1 / span 2;
    height: 3em;
    background-color: #1C2541;
    color: white;
}

input:focus {
    background-color: lightgray;
}

/* This image is a different aspect ratio and needs to be centered properly */
#water-change {
    width: 80%;
    max-width: 600px;
    margin: auto;
    display: block;
}

/* -----------------
Display for mobile
-------------------- */

@media screen and (max-width: 480px) {

    /* Update the semantic margin and padding */
    header,
    section,
    article,
    aside {
        margin: 10px 15px;
        padding: 0px 10px;
    }

    label {
        font-size: 0.95em;
        line-height: 1.5em;
        margin: 5px 5px;
        padding: 5px 5px;
    }

    input,
    select {
        margin: 5px 5px;
        padding: 5px 5px;
    }
}

/* -----------------
Display for tablet
-------------------- */

@media screen and (min-width: 481px) and (max-width: 800px) {

    /* Update the semantic margin and padding */
    header,
    section,
    article,
    aside {
        margin: 10px 50px;
        padding: 0px 10px;
    }

    label {
        font-size: 1.15em;
        line-height: 1.35em;
        margin: 7px 7px;
        padding: 3px 3px;
    }

    input,
    select {
        margin: 7px 7px;
        padding: 3px 3px;
    }
}

@media screen and (min-width: 801px) {
    label {
        font-size: 1.15em;
        line-height: 1.35em;
        margin: 7px 7px;
        padding: 3px 3px;
    }

    input,
    select {
        margin: 7px 7px;
        padding: 3px 3px;
    }
}