@charset "utf-8";
@import url(https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Doto:wght@100..900&family=Meow+Script&family=Righteous&display=swap);

body {
    background-color: #E6E8E6;
    margin: 10px 100px 10px 100px;
}

p {
    size: 1.5em;
}

div img {
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1C2541;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0B132B;
    color: white;
}

.active {
    background-color: #F9F9F9;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bona Nova SC";
}